
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: var(--bg);
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
  }
  
  .searchButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 5px;
    border-radius: 10px;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--bgSoft);
    border: 0.5px solid var(--textSoft);
    padding: 5px;
    position: relative;
  }
  
  .ball {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: var(--textSoft);
    border: 1px solid var(--bgSoft);
  }
  
  .light .ball {
    left: unset;
    right: 0;
  }
  
  /* NAVBAR END */
  
  /* FOOTER START */
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
  }
  
  .social {
    display: flex;
    gap: 10px;
  }
  
  /* FOOTER END */
  
  /* LIST START */
  